@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

:root{ /*  SETAMOS AS CORES PADRÃO AQUI E USAMOS SOMENTE A VARIÁVEL NOS ELEMENTOS, ASISM SE PRECISAR MUDAR FAZEMOS UMA VEZ*/
    --color-background: #212A33;
    --color-headerfooter: #8A7D63;
    --color-text: #D9DFDB;
}

* { /* ZERAR TODAS AS MEDIDAS PADRÃO DO NAVEGADOR */
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: var(--color-headerfooter);
    height: 60px;
    display: flex;
    align-items: center;
}

header .list-items{
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.list-items li a{
    color: #fff;
    text-decoration: none;
    /*padding-right: 20px;*/
}

.item{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;

}

.item::before,
.item::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    transform: scaleX(0);
    transition: transform .25s;
}

.item::before{
    top: -3px;
    transform-origin: left;
}

.item::after{
    bottom: -3px;
    transform-origin: right;
}

.item:hover::before,
.item:hover::after{
    transform: scaleX(1);
}

header .menu{ 
    justify-content: space-between;
}

.inicial{
    margin-top: 40px;
}

.apresentacao{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.flex-footer{
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.services{
    max-width: 400px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: var(--color-text);
}

.accordion__label,
.accordion__content{
    padding: 14px 20px;
}

.accordion__label{
    display: block;
    color: var(--color-text);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion__label:hover{
    background: rgba(0, 0, 0, 0.1);    
}

.accordion__label::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content{
    background-color: #ffffff;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }

footer{
    background-color: var(--color-headerfooter);
    display: flex;
    /* Revisar tamanho footer */
}

footer p{
    margin-top: 5px;
}

footer ul li{
    display: inline;
}

footer img{
    width: 20px;
    margin-top: 10px;
    margin-left: 25px;
}