@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

:root{ /*  SETAMOS AS CORES PADRÃO AQUI E USAMOS SOMENTE A VARIÁVEL NOS ELEMENTOS, ASISM SE PRECISAR MUDAR FAZEMOS UMA VEZ*/
    --color-white: #f0f8ff;
    --color-blue: #4682B4;
    --color-red: #DC143C;
}

* { /* ZERAR TODAS AS MEDIDAS PADRÃO DO NAVEGADOR */
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Caudex', sans-serif;
    background-color: var(--color-white);
    color: var(--color-blue);
}

.flex-container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

/*==================== HEADER ====================*/

header {
    background-color: var(--color-blue);
    color: var(--color-white);
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom-style:solid;
    border-color: var(--color-red);
    border-bottom-width: thick;
}

header .list-items{
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.list-items li a{
    color: var(--color-white);
    text-decoration: none;
    /*padding-right: 20px;*/
}

.item{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
}

.item:hover{
    font-size: 20px;
    transition: 600ms;
}

.item::before,
.item::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transform: scaleX(0);
    transition: transform .25s;
}

.item::before{
    top: -3px;
    transform-origin: left;
}

.item::after{
    bottom: -3px;
    transform-origin: right;
}

.item:hover::before,
.item:hover::after{
    transform: scaleX(1);
}

header .menu{ 
    justify-content: space-between;
}

/*==================== HOME ====================*/

.inicial{
    margin-top: 40px;
}

.apresentacao{
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

/*==================== SERVICES ====================*/

.fundo{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.services{
    align-items: center;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.titulo1{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-white);
}

.servicos-detalhe{
    margin-top: 20px;
    text-align: center;
}

.cards{
    width: 1300px;
    margin: 0 auto;
    padding: 50px 0;
}

.cards li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3.5px solid var(--color-white);
    border-radius: 10px;
    transition: 1s all;
}

.cards li:hover{
    border-color: var(--color-red);
    background-color: var(--color-white);
    color: var(--color-blue);

}

/*==================== SOBRE ====================*/
.sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 320px;
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

.titulo2{
    margin-top: 75px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-blue);
}

.imgSobre {
    border-radius: 50%;
    box-shadow: 10px 10px 30px 0px #4682B4;
}

.textSobre{
    padding-top: 50px;
    text-align: center;
}

/*==================== FOOTER ====================*/

footer{
    color: var(--color-white);
    background-color: var(--color-blue);
    display: flex;
    /* Revisar tamanho footer */
    border-top-style:solid;
    border-color: var(--color-white);
    border-top-width: thick;
}

.flex-footer{
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.titulo2{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
}

footer p{
    margin-top: 5px;
}

footer ul li{
    display: inline;
}

footer img{
    width: 20px;
    margin-top: 10px;
    margin-left: 25px;
}