@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

:root{ /*  SETAMOS AS CORES PADRÃO AQUI E USAMOS SOMENTE A VARIÁVEL NOS ELEMENTOS, ASISM SE PRECISAR MUDAR FAZEMOS UMA VEZ*/
    --color-white: #f0f8ff;
    --color-blue: #4682B4;
    --color-blue2: #0d60a4;
    --color-red: #DC143C;
}

* { /* ZERAR TODAS AS MEDIDAS PADRÃO DO NAVEGADOR */
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Caudex', sans-serif;
    background-color: var(--color-white);
    color: var(--color-blue);
}

.flex-container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

/*==================== HEADER ====================*/

header {
    background-color: var(--color-blue);
    color: var(--color-white);
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom-style:solid;
    border-color: var(--color-red);
    border-bottom-width: thick;
}

header .list-items{
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.list-items li a{
    color: var(--color-white);
    text-decoration: none;
    /*padding-right: 20px;*/
}

.item{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
}

.item:hover{
    font-size: 20px;
    transition: 600ms;
}

.item::before,
.item::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transform: scaleX(0);
    transition: transform .25s;
}

.item::before{
    top: -3px;
    transform-origin: left;
}

.item::after{
    bottom: -3px;
    transform-origin: right;
}

.item:hover::before,
.item:hover::after{
    transform: scaleX(1);
}

header .menu{ 
    justify-content: space-between;
}

/*==================== HOME ====================*/

.inicial{
    margin-top: 40px;
}

.apresentacao{
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

/*==================== SERVICES ====================*/

.fundo{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.services{
    align-items: center;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.titulo1{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-white);
}

.servicos-detalhe{
    margin-top: 20px;
    text-align: center;
}

.cards{
    width: 1300px;
    margin: 0 auto;
    padding: 50px 0;
}

.cards li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3.5px solid var(--color-white);
    border-radius: 10px;
    transition: 1s all;
}

.cards li:hover{
    border-color: var(--color-red);
    background-color: var(--color-white);
    color: var(--color-blue);

}

/*==================== SOBRE ====================*/
.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 40vh 40vh;
    grid-template-areas: "sobret sobret sobret"
                         "sobred sobred sobred"
                         "increase increase increase";
    align-items: center;
    min-width: 320px;
    max-width: 1300px; 
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}

.titulo2{
    margin-top: 75px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-blue);
    grid-area: sobret;
}

.sobred{
    grid-area: sobred;
    width: 75%;
    margin: auto;
}

.imgSobre {
    float: left;
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px 0px #4682B4;
    margin: 0 30px 0 0;
}

.txtSobre{
    text-align: center;
    margin-top: 90px;
}

.increase{
    margin-top: 50px;
    grid-area: increase;
    text-align: center;
}

.increase li{
    display: inline-block;
    margin: 0 2%;
    padding: 30px 10px;
    font-size: 20px;
}

.increase li span{
    font-size: 50px;
    font-weight: bold;
}

/*==================== FEEDBACKS ====================*/

.feedbacks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 40vh 40vh 40vh;
    grid-template-areas: "feedbacks feedbacks feedbacks"
                         "card-left1 card-left1 ."
                         ". card-right card-right"
                         "card-left2 card-left2 .";
    align-items: center;
    min-width: 320px;
    max-width: 1300px; 
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}

.feed-titulo{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-white);
    grid-area: feedbacks;
}

.card-left1{
    grid-area: card-left1;
}

.pessoa1{
    float: left;
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px 0px #f0f8ff;
    margin: 0 30px 0 0;
    grid-area: pessoa1;
}

.info-name{
    font-size: 20px;
    padding-top: 20px;
}

.testemunho{
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
    text-align: left;
}

.info-insta{
    margin-top: 15px;
}

.card-right{
    grid-area: card-right;
}

.info-name2{
    text-align: right;
    font-size: 20px;
    padding-top: 20px; 
}

.info-cargo2{
    text-align: right;
}

.testemunho-right{
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
}

.info-insta2{
    margin-top: 15px;
    text-align: right;
}

.pessoa2{
    float: right;
    width: 300px;
    margin: 0 0 0 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px 0px #f0f8ff;
}

.card-left2{
    grid-area: card-left2;
}

/*==================== FAQ ====================*/

.faq {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 40vh;
    grid-template-areas: "faq faq faq"
                         "accordion accordion accordion";
    align-items: center;
    min-width: 320px;
    max-width: 1300px; 
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}

.titulo3 {
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-blue);
    grid-area: faq;
    text-align: center;
}

.accordion {
    max-width: 100%;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background: var(--color-blue2);
    color: #0d60a4;
    grid-area: accordion;
}

.accordion_question,
.accordion_answer{
    padding: 14px 20px;
}

.accordion_question{
    display: block;
    color: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion_question:hover{
    background: rgba(0, 0, 0, 0.1);    
}

.accordion_question::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion_answer{
    background-color: var(--color-blue);
    color: var(--color-white);
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    margin: 5px 15px; 
}

.accordion_input {
    display: none;
  }

  .accordion_input:checked ~ .accordion_answer {
    display: block;
  }

  .accordion:checked ~ .accordion_question::after {
    transform: translateY(-50%) rotate(0.5turn);
  }

/*=================== CONTATO ====================*/

.contato{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 100vh;
    grid-template-areas: "titulo4 titulo4 titulo4"
                         "form form form";
    align-items: center;
    min-width: 320px;
    max-width: 1300px; 
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}

.titulo4{
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-blue);
    grid-area: titulo4;
    text-align: center;
}

form{
    grid-area: form;
}

input{
    grid-area: form;
    font-size: 20px;
    border: solid 1px var(--color-blue2);
    border-radius: 5px;
    display: block;
    margin: 0 0 20px;
    padding: 5px 15px;
    width: 30%;
}

fieldset{
    font-size: 20px;
}

textarea{
    font-size: 20px;
    border: solid 1px var(--color-blue2);
    border-radius: 5px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.03);
}

/*==================== FOOTER ====================*/

footer{
    color: var(--color-white);
    background-color: var(--color-blue);
    display: flex;
    /* Revisar tamanho footer */
    border-top-style:solid;
    border-color: var(--color-white);
    border-top-width: thick;
}

.flex-footer{
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.titulo2{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
}

footer p{
    margin-top: 5px;
}

footer ul li{
    display: inline;
}

footer img{
    width: 20px;
    margin-top: 10px;
    margin-left: 25px;
}