@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

:root{ /*  SETAMOS AS CORES PADRÃO AQUI E USAMOS SOMENTE A VARIÁVEL NOS ELEMENTOS, ASISM SE PRECISAR MUDAR FAZEMOS UMA VEZ*/
    --color-background: #000000;
    --color-headerfooter: #8A7D63;
    --color-text: #f4f9f5;
}

* { /* ZERAR TODAS AS MEDIDAS PADRÃO DO NAVEGADOR */
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Caudex', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: var(--color-background);
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom-style:solid;
    border-color: var(--color-text);
    border-bottom-width: thick;
}

header .list-items{
    display: flex;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.list-items li a{
    color: #fff;
    text-decoration: none;
    /*padding-right: 20px;*/
}

.item{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.item:hover{
    font-size: 20px;
    transition: 600ms;
}

.item::before,
.item::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    transform: scaleX(0);
    transition: transform .25s;
}

.item::before{
    top: -3px;
    transform-origin: left;
}

.item::after{
    bottom: -3px;
    transform-origin: right;
}

.item:hover::before,
.item:hover::after{
    transform: scaleX(1);
}

header .menu{ 
    justify-content: space-between;
}

.inicial{
    margin-top: 40px;
}

.apresentacao{
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.titulo1{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
}

.servicos-descricao{
    width: 45%;
    float: left;
}

.servicos-detalhe{
    margin-top: 20px;;
    text-align: center;
}

.accordion{
    width: 45%;
    float: right;
}

.accordion-item{
    /*background-color: #283042;*/
    /*border-radius: .4rem;*/
    margin-bottom: 1rem;
    /*padding: 1rem;*/
    /*box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);*/ 
}

.accordion-link{
    color: var(--color-text);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 1rem 0;*/
}

.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-link .ion-md-remove{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    transition: max-height 650ms;
}

.answer::before{
    content: '';
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transform: tr

}

.answer p{
    color: #fff;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add{
    display: none;
}

.accordion-item:target .accordion-link .ion-md-remove{
    display: block;
}

/*==================== SOBRE ====================*/
.sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.imgSobre {
    border-radius: 50%;
}

.textSobre{
    padding-top: 50px;
    text-align: center;
}

footer{
    background-color: var(--color-background);
    display: flex;
    /* Revisar tamanho footer */
    border-top-style:solid;
    border-color: var(--color-text);
    border-top-width: thick;
}

.flex-footer{
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.titulo2{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    align-items: center;
    font-size: 70px;
    text-transform: uppercase;
}

footer p{
    margin-top: 5px;
}

footer ul li{
    display: inline;
}

footer img{
    width: 20px;
    margin-top: 10px;
    margin-left: 25px;
}