@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

:root{ /*  SETAMOS AS CORES PADRÃO AQUI E USAMOS SOMENTE A VARIÁVEL NOS ELEMENTOS, ASISM SE PRECISAR MUDAR FAZEMOS UMA VEZ*/
    --color-background: #212A33;
    --color-headerfooter: #8A7D63;
    --color-text: #D9DFDB;
}

* { /* ZERAR TODAS AS MEDIDAS PADRÃO DO NAVEGADOR */
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: var(--color-headerfooter);
    height: 60px;
    display: flex;
    align-items: center;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.list-items li a{
    color: #fff;
    text-decoration: none;
    /*padding-right: 20px;*/
}

header .menu{ 
    justify-content: space-between;
}

footer{
    background-color: var(--color-headerfooter);
}